# API service

API_NAME           = "Elminster"
CONTEXT_LENGTH     = "3"
MAX_WALLPAPER_SIZE = "5242880" # 5MB

JWT_SECRET_KEY     = "f2c169677d481c7ca7b8b39f2f42154c8208793c572d99b3ea8d157b094c5958"
JWT_ALGORITHM      = "HS256"
JWT_EXPIRE_MINUTES = "30"

# Garage service

GARAGE_ENDPOINT           = "garage:3900"
GARAGE_PUBLIC_URL         = "http://localhost:3904"
GARAGE_DEFAULT_ACCESS_KEY = "4ff8563dabbd292434195b8af7550aa0"
GARAGE_DEFAULT_SECRET_KEY = "126e666fba059a5a338c18a97c9005a64d1f95867cbe9dc161376084fa29ec4d"
GARAGE_DEFAULT_BUCKET     = "elminster-bucket"

# Redis service

REDIS_HOST = "elminster_redis"
REDIS_PORT = "6379"
REDIS_URL  = "redis://elminster_redis:6379"

# Postgres service

DATABASE_HOST     = "elminster_postgres"
DATABASE_PORT     = "5432"
DATABASE_USER     = "elminster_user"
DATABASE_PASSWORD = "elminster_pass"
DATABASE_NAME     = "elminster_db"

DATABASE_URL = "postgresql://elminster_user:elminster_pass@elminster_postgres:5432/elminster_db"

# Ollama

OLLAMA_URL      = "http://ollama:11434"
EMBEDDING_MODEL = "nomic-embed-text"
EMBEDDING_SIZE  = "768"
LLM_MODEL       = "qwen:0.5b"