# API service

API_NAME="Elminster"
UPLOAD_PATH="uploads"
CONTEXT_LENGTH="3"

# Redis service

REDIS_HOST="elminster_redis"
REDIS_PORT="6379"
REDIS_URL="redis://elminster_redis:6379"

# Postgres service

DATABASE_HOST="elminster_postgres"
DATABASE_PORT="5432"
DATABASE_USER="elminster_user"
DATABASE_PASSWORD="elminster_pass"
DATABASE_NAME="elminster_db"

DATABASE_URL="postgresql://elminster_user:elminster_pass@elminster_postgres:5432/elminster_db"

# Ollama

OLLAMA_URL="http://ollama:11434"
EMBEDDING_MODEL="nomic-embed-text"
EMBEDDING_SIZE="768"
LLM_MODEL="qwen:0.5b"